@charset "UTF-8";
/*----------------------------------------------------------------------------*\
*  $DEBUG-MODE -  visually highlight any potential markup/accessibility quirks
\*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------*\
*  $BORDER-BOX - http://www.paulirish.com/2012/box-sizing-border-box-ftw 
\*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*\
*  $BASE-STYLES
\*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*\
*  $BRAND-STYLES
\*----------------------------------------------------------------------*/
/*
  Micro Clearfix
   @usage: 
      include an @extend %clearfix to keep classes semantic 
*/
/* line 7, ../scss/core/_placeholders.scss */
.media:after {
  content: "";
  display: table;
  clear: both;
}

/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../scss/core/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../scss/core/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../scss/core/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Address styling not present in IE 8/9.
 */
/* line 50, ../scss/core/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../scss/core/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Remove default margin.
 */
/* line 74, ../scss/core/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../scss/core/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../scss/core/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../scss/core/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../scss/core/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, ../scss/core/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../scss/core/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../scss/core/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * Address styling not present in IE 8/9.
 */
/* line 152, ../scss/core/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 164, ../scss/core/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../scss/core/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/*
 * Set consistent quote types.
 */
/* line 181, ../scss/core/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../scss/core/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, ../scss/core/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../scss/core/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../scss/core/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../scss/core/_normalize.scss */
img {
  border: 0;
}

/*
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../scss/core/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../scss/core/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 253, ../scss/core/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, ../scss/core/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 278, ../scss/core/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, ../scss/core/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, ../scss/core/_normalize.scss */
button,
select {
  text-transform: none;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 317, ../scss/core/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 327, ../scss/core/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, ../scss/core/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, ../scss/core/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 361, ../scss/core/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, ../scss/core/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, ../scss/core/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 393, ../scss/core/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 5, ../scss/core/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../scss/core/_reset.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Enable this stylesheet to visually detect any improperly nested or
 * potentially invalid markup, or any potentially inaccessible code.
 *
 * Red          ==      definite error
 * Yellow       ==      double-check
 * None         ==      should be fine
 *
 * Please note that this method of checking markup quality should not be relied
 * upon entirely. Validate your markup!
 */
/**
 * Are there any empty elements in your page?, except 
 */
/* line 21, ../scss/core/_debug.scss */
:empty:not(hr) {
  outline: 5px solid yellow;
}

/**
 * Images require `alt` attributes, empty `alt`s are fine but should be
 * double-checked, no `alt` is bad and is flagged red.
 */
/* line 30, ../scss/core/_debug.scss */
img {
  outline: 5px solid red;
}

/* line 33, ../scss/core/_debug.scss */
img[alt] {
  outline: none;
}

/* line 36, ../scss/core/_debug.scss */
img[alt=""] {
  outline: 5px solid yellow;
}

/**
 * Links sometimes, though not always, benefit from `title` attributes. Links
 * without are never invalid but it’s a good idea to check.
 */
/* line 45, ../scss/core/_debug.scss */
a {
  outline: 5px solid yellow;
}

/* line 48, ../scss/core/_debug.scss */
a[title] {
  outline: none;
}

/**
 * Double-check any links whose `href` is something questionable.
 */
/* line 57, ../scss/core/_debug.scss */
a[href="#"],
a[href*="javascript"] {
  outline: 5px solid yellow;
}

/**
 * The `target` attribute ain’t too nice...
 */
/* line 65, ../scss/core/_debug.scss */
a[target] {
  outline: 5px solid yellow;
}

/**
 * Ensure any lists only contain `li`s as children.
 */
/* line 75, ../scss/core/_debug.scss */
ul > *:not(li),
ol > *:not(li) {
  outline: 5px solid red;
}

/**
 * It’s always nice to give `th`s `scope` attributes.
 */
/* line 84, ../scss/core/_debug.scss */
th {
  outline: 5px solid yellow;
}

/* line 87, ../scss/core/_debug.scss */
th[scope] {
  outline: none;
}

/**
 * `tr`s as children of `table`s ain’t great, did you need a `thead`/`tbody`?
 */
/* line 95, ../scss/core/_debug.scss */
table > tr {
  outline: 5px solid yellow;
}

/**
 * `tfoot` needs to come *before* `tbody`.
 */
/* line 103, ../scss/core/_debug.scss */
tbody + tfoot {
  outline: 5px solid yellow;
}

/**
 * Forms require `action` attributes
 */
/* line 111, ../scss/core/_debug.scss */
form {
  outline: 5px solid red;
}

/* line 114, ../scss/core/_debug.scss */
form[action] {
  outline: none;
}

/**
 * Various form-field types have required attributes. `input`s need `type`
 * attributes, `textarea`s need `rows` and `cols` attributes and submit buttons
 * need a `value` attribute.
 */
/* line 125, ../scss/core/_debug.scss */
textarea,
input {
  outline: 5px solid red;
}

/* line 128, ../scss/core/_debug.scss */
input[type] {
  outline: none;
}

/* line 131, ../scss/core/_debug.scss */
textarea[rows][cols] {
  outline: none;
}

/* line 134, ../scss/core/_debug.scss */
input[type=submit] {
  outline: 5px solid red;
}

/* line 137, ../scss/core/_debug.scss */
input[type=submit][value] {
  outline: none;
}

/**
 * Avoid inline styles where possible.
 */
/* line 145, ../scss/core/_debug.scss */
[style] {
  outline: 5px solid yellow;
}

/**
 * You should avoid using IDs for CSS, is this doing any styling?
 */
/* line 153, ../scss/core/_debug.scss */
[id] {
  outline: 5px solid yellow;
}

/**
 * Are you using the grid system correctly?
 */
/* line 164, ../scss/core/_debug.scss */
.gw > :not(.g),
.grid-wrapper > :not(.grid),
.gw--rev > :not(.g),
.grid-wrapper--rev > :not(.grid) {
  outline: 5px solid red;
}

/* endif */
/* line 1, ../scss/core/_base.scss */
html {
  font: 0.875em/1.28571 sans-serif;
  overflow-y: scroll;
  min-height: 100%;
}

/* line 13, ../scss/core/_base.scss */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
.media {
  margin-bottom: 18px;
  margin-bottom: 1.28571rem;
}

/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
/* line 23, ../scss/core/_base.scss */
hr {
  margin-bottom: 16px;
  margin-bottom: 1.14286rem;
}

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
/* line 33, ../scss/core/_base.scss */
ul, ol, dd {
  margin-left: 36px;
  margin-left: 2.57143rem;
}

/* line 39, ../scss/core/_base.scss */
.page {
  width: 960px;
  margin: 0 auto;
}

/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 *
 * @usage:
   <div class=media>
       <span class=media-img><img src=http://placekitten.com/200/300 alt="" ></span>
       <p class=media-body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 
 */
/* line 18, ../scss/objects/_media.scss */
.media {
  display: block;
}
/* line 22, ../scss/objects/_media.scss */
.media .media-img {
  float: left;
  margin-right: 18px;
}
/* line 26, ../scss/objects/_media.scss */
.media .media-img-right {
  float: right;
  margin-left: 18px;
}
/* line 30, ../scss/objects/_media.scss */
.media .media-img-left img, .media .media-img-right img {
  display: block;
}
/* line 32, ../scss/objects/_media.scss */
.media .media-body {
  overflow: hidden;
}
/* line 36, ../scss/objects/_media.scss */
.media .media-body,
.media .media-body > :last-child {
  margin-bottom: 0;
}

/* TODO: 

    Grids
    Forms
    Buttons
    Navigation
    Module
    --Media

*/
